/**
*覆盖element默认样式
 */
 ol,ul{
  list-style: none;
}
 .el-tabs__nav-wrap{
    background-color: #fff;
    padding: 10px 0 0 30px;
  }
  .surplus_stock .el-input-group__append{
      padding:0;
  }
  .surplus_stock .el-input-group__append span{
    padding: 7px 10px;
    cursor:pointer
  }
  .surplus_stock .el-input-group__prepend{
    padding: 0;
  }
  .surplus_stock .el-input-group__prepend span{
    padding: 7px 10px;
    cursor:pointer
  }
  .surplus_stock .el-input__inner{
    padding: 0 5px;
  }
  #el-title div.el-dialog__header {
    background:#ec414d;
    padding-top: 15px;
  }
  #el-title span.el-dialog__title {
    color: #fff;
  }
  #viewDetail div.el-dialog__header {
    background:#ec414d;
    padding-top: 15px;
  }
  #viewDetail span.el-dialog__title {
    color: #fff;
  }
  #viewDetail .el-dialog__headerbtn {
    top: 15px;
  }
  #viewDetail i.el-dialog__close {
    color: #fff;
    font-size: 25px;
  }
  #viewDetail .el-dialog__body{
    padding-right: 0;
  }
.red_header .el-dialog__header{
    background-color: #EC414D;
    font-size: 16px;
    font-weight: 600;
}
.red_header .el-dialog__title{
    color: white;
}
.red_header .el-dialog__footer{
    border-top: 1px solid #eeeeee;
}
.red_header .el-dialog__headerbtn{
    display: none;
}
.red_header .el-dialog__body{
    height: 300px;
}
.login_input>.el-input__inner{
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.el-upload-right{
    left: 13.3%;
}
  .form-box .el-upload--picture-card{
    position: relative;
    width: 100px;
    height: 100px;
  }
  .form-box .el-upload--picture-card i{
    position: absolute;
    left: 0;
    top: 35px;
    right: 0;
    bottom: 0;
  }
  .container .el-upload-list__item{
    width: 100px;
    height: 100px;
  }
  .container .el-progress-circle{
    position: relative;
  }
 .container .el-progress-circle svg{
    width: 90px;
    height: 90px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .container .el-form-item{
    margin-bottom: 15px;
  }
  .container .button_bottom .el-form-item{
    margin-bottom: 10px;
  }
  .edit_container .ql-container{
    min-height: 150px;
  }
  .IDcard img{
      height: 80px;
      width: 80px;
  }
  .avatar-uploader .el-upload--text, .avatar-uploader .el-upload--text .avatar-uploader-icon{
      width: 100px;
      height: 100px;
      line-height: 100px;
  }

  .getcode .el-input{
      width: 60%;
  }
.income_statistics .el-card{
  border: 1px solid #ddd;
}
.income_form .el-form-item{
  margin-bottom: 30px;
}
.income_form .el-form-item__label{
  font-weight: bold;
  color: #303133;
}
.cardFimg .el-form-item__error{
    width: 200px; position: absolute; top: 115px;left: 200px;
}
